<div class="email-footer">
  <div class="social-links">
    <a href="https://facebook.com/luxe" target="_blank">
      <img
        src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg"
        alt="Facebook"
      />
    </a>
    <a href="https://twitter.com/luxe" target="_blank">
      <img
        src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/twitter.svg"
        alt="Twitter"
      />
    </a>
    <a href="https://instagram.com/luxe" target="_blank">
      <img
        src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/instagram.svg"
        alt="Instagram"
      />
    </a>
  </div>

  <p style="margin-top: 12px;">
    &copy; {{year}} LUXE. All rights reserved.<br />
    <a href="https://luxe.com" style="color: #333; text-decoration: none;">luxe.com</a>
  </p>
</div>